body {
  margin-left: 300px !important;
  margin-top: 15px;
}

.submenu .nav-link {
  padding-left: 2.5rem !important;
  font-size: 0.85rem !important;
  color: rgba(255, 255, 255, 0.7) !important;
}

.submenu .nav-link:hover {
  color: #ffffff !important;
}

.sidebar-pam .nav-link .fa-chevron-down {
        transition: transform 0.3s ease;
    }
    
    /* Quando o botão não tem a classe 'collapsed' (ou seja, está aberto), roda a seta */
    .sidebar-pam .nav-link:not(.collapsed) .fa-chevron-down {
        transform: rotate(180deg);
    }
