.card {
  max-width: 300px;
  width: 100%;
  max-height: 250px;
  border: 5px solid;
  border-radius: 50px;
  overflow: hidden;
}

.card-image img {
  width: 300px;
  height: 160px;
  object-fit: cover;
}

.card-info {
  padding: 10px;
  text-align: center;
}

.card-link {
  text-decoration: none;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
