body{
	overflow-x: hidden;
}

#banner{
	background: linear-gradient(to right, var(--blue-color), #135EB1);
	height: 300px;
}

.custom-blue{
	color: #135EB1;
}

.marker-blue li::marker{
	color: #135EB1;
}

h1{
	font-size: 60px;
}

h2{
	color: var(--blue-color);
	margin: 25px 0 15px 0;
	font-weight: 700;
}

p, ul{
	margin: 0;
}

@media(max-width: 425px){
	ul{
		margin: 15px 0;
	}
}