body{
	overflow-x: hidden;
}

#banner{
	background: var(--blue-color);
	height: 300px;
}

.custom-blue{
	color: var(--blue-color);
}

h1{
	font-size: 60px;
}

h2{
	color: var(--blue-color);
	margin: 15px 0;
	font-weight: 700;
}

p, ul{
	margin: 0;
}

article{
	position: relative;
}

article:nth-child(even)::before{
	content: "";
	position: absolute;
	top: 0;
	left: 50%;
	width: 100vw;
	height: 100%;
	transform: translateX(-50%);
	z-index: -1;
	background-color: rgb(255 165 0 / 0.2);
}

@media(max-width: 425px){
	ul{
		margin: 15px 0;
	}
}