h1, h2, h3, p{
    margin: 0;
}

#banner{
    background: url(../img/dia_voluntario_banner1.png) center / cover no-repeat;
    height: 400px;
}

.bannerContents{
    width: 514px;
}

.custom-bg-white{
    background-color: white;
}

.box-blue, .box-pink{
    border-radius: 20px;
    background-color: #F1F1F1;
}

.box-blue img, .box-pink img{
    width: 279px;
    height: 159px;
}

.box-blue{
    border: 3px solid #8AD8DA;
}

.box-pink{
    border: 3px solid #EFA5B6;
}

.communityCard{
    width: 250px;
    box-shadow: 2px -2px 4px #000;
}

.communityCard img{
    max-width: 140px;
    max-height: 140px;
}

.btn.custom-bg-orange:hover{
    background-color: var(--secondary-light);
}

#eventCarousel img{
    height: 400px;
}

.custom-w-1{
    max-width: 902px;
}

.custom-w-2{
    max-width: 769px;
}

.custom-btn{
    padding: 5px 38px;
}

@media(max-width: 425px){
    #eventCarousel img{
        height: 300px;
    }
}