.search{
    width: 300px;
    height: 40px;
    border: 2px solid #888888;
    border-radius: 5px;
    padding: 0 50px;
}

.search1{
    color: #888888;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
}

.filter1{
    color: #888888;
    position: absolute;
    right: 25px;
    top: 50%;
    transform: translateY(-50%);
    width: 6px;
}

