:root {
  --primary: #08284b;
  --primary-light: #135eb1;
  --secondary: #ffa500;
  --secondary-light: #fbba50;
}

html{
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: #f1f1f1;
}

.custom-blue{
  color: var(--primary);
}

.custom-bg-blue{
  background-color: var(--primary);
}

.custom-light-blue{
  color: var(--primary-light);
}

.custom-bg-light-blue{
  background-color: var(--primary-light);
}

.custom-orange{
  color: var(--secondary);
}

.custom-bg-orange{
  background-color: var(--secondary);
}

.custom-light-orange{
  color: var(--secondary-light);
}

.custom-bg-light-orange{
  background-color: var(--secondary-light);
}

/*NAVBAR*/
.bg-nav {
  background-color: #f1f1f1 !important;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 12px 0;
  transition: all 0.3s ease;
}

.navbar-brand i {
  color: var(--secondary);
  font-size: 2rem;
  margin-right: 10px;
}

.navbar-color .nav-link {
  color: var(--primary) !important;
  font-weight: 600;
  font-size: 0.95rem;
  margin: 0 10px;
  transition: 0.3s;
}

.navbar-color .nav-link:hover {
  color: var(--secondary) !important;
}

.btn-login {
  background-color: var(--primary);
  border: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 0.9rem;
  border-radius: 50px;
  padding: 8px 25px;
  margin-left: 15px;
  transition: all 0.3s ease;
}

.btn-regist {
  background-color: var(--secondary);
  border-radius: 5px;
}

.btn-login:hover {
  background-color: var(--secondary);
  transform: scale(1.1);
  box-shadow: 0 6px 15px rgba(73, 123, 173, 0.3);
}

.dropdown-menu {
  border: none;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 10px;
}

.dropdown-item {
  font-size: 0.9rem;
  color: #555555;
  border-radius: 8px;
  padding: 8px 15px;
}

.dropdown-item:hover {
  background-color: #f8f9fa;
  color: var(--primary);
}

/*FOOTER*/
.content-wrapper {
  flex: 1 0 auto;
}

.footer-adocao {
  flex-shrink: 0;
  background-color: var(--primary) !important;
  color: #ffffff !important;
  padding-top: 20px;
}

.footer-brand {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}
.footer-brand i {
  color: var(--secondary);
  font-size: 2.2rem;
}

.footer-adocao h5 {
  color: #ffffff !important;
  font-weight: 800;
  font-size: 0.9rem;
  text-transform: uppercase;
}

.footer-adocao .nav-link {
  color: #f1f1f1 !important;
  font-size: 0.85rem;
  transition: 0.3s;
}

.footer-adocao .nav-link:hover {
  color: var(--secondary) !important;
  padding-left: 5px;
}

.social-icons a {
  color: #ffffff;
  font-size: 1.2rem;
}

.social-icons a:hover {
  color: var(--secondary);
}

.footer-adocao p {
  color: #ffffff;
  font-size: 0.8rem;
}
