# Desativa o redirecionamento normal do Apache (ex: privacy > privacy.html, nós vamos fazer com que privacy > index.php que vai mostrar o conteúdo de privacy.html)
Options -MultiViews
# Ativa o redirecionamento que estamos a usar neste ficheiro
RewriteEngine On

# Não redireciona nada dentro de /backoffice/
RewriteRule ^backoffice/ - [L]

# Se for um ficheiro real
RewriteCond %{REQUEST_FILENAME} -f
# Mas apenas nesta pasta, redireciona para index.php
RewriteRule ^[^/]+$ index.php [L,QSA]

# Se não for um ficheiro real
RewriteCond %{REQUEST_FILENAME} !-f
# Redireciona para index.php
RewriteRule ^ index.php [L,QSA]