<header>
  <nav class="navbar navbar-expand-lg bg-nav navbar-color">
    <div class="container-fluid">
      <a class="navbar-brand" href="./"
        ><img
          src="assets/img/logo.png"
          alt="Logo PAM"
          style="max-width: 120px; max-height: 50px; transform: translateX(-13px)"
      /></a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Adoção
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="./animalCatalog">Catálogo de Animais</a></li>
              <li><a class="dropdown-item" href="./adoptionGuide">Guia de adoção</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Comunidade e Eventos
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Calendário de Enventos</a></li>
              <li><a class="dropdown-item" href="#">Eventos Passados</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="#">Animais desaparecidos</a></li>
              <li><a class="dropdown-item" href="#">Encontrei um animal e agora?</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Apoio e saúde
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Top Doadores</a></li>
              <li><a class="dropdown-item" href="#">Nossos Parceiros</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="appointment">Marcação de consultas</a></li>
              <li><a class="dropdown-item" href="animal_care">Cuidados de saúde</a></li>
            </ul>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Institucional
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="dia_voluntario">Um dia no abrigo</a></li>
              <li><a class="dropdown-item" href="#">Perfil de voluntário</a></li>
              <li><a class="dropdown-item" href="./contactos">Contactos</a></li>
            </ul>
          </li>
        </ul>
        <a href="./regist"><button class="btn-login" type="button">Registar</button></a>
        <a href="./login"><button class="btn-login btn-regist" type="button">Entrar</button></a>
      </div>
    </div>
  </nav>
</header>
