<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark sidebar-pam"
    style="width: 280px; height: 100vh; position: fixed; left: 0; top: 0; z-index: 1050; box-shadow: 4px 0 10px rgba(0,0,0,0.1);">

    <a href="#" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
        <i class="fa-solid fa-paw me-2 fs-4"></i>
        <span class="fs-4 fw-bold">PAM</span>
    </a>
    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a href="#" class="nav-link text-white d-flex justify-content-between align-items-center"
                data-bs-toggle="collapse" data-bs-target="#menuAnimais" aria-expanded="true">
                <span><i class="fa-solid fa-dog me-2"></i> Gestão de Animais</span>
                <i class="fa-solid fa-chevron-down" style="font-size: 0.7rem;"></i>
            </a>

            <div class="collapse show" id="menuAnimais">
                <ul class="nav flex-column submenu mt-1">
                    <li><a href="animalList.php" class="nav-link">Lista Animais</a></li>
                    <li><a href="adopterList.php" class="nav-link">Lista Adotantes</a></li>
                    <li><a href="adoptionProcess.php" class="nav-link">Processo Adoção</a></li>
                </ul>
            </div>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
            id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>Afonso</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
            <li><a class="dropdown-item" href="#">Definições</a></li>
            <li><a class="dropdown-item" href="#">Perfil</a></li>
            <li>
            <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="../index.php">Sair</a></li>
        </ul>
    </div>
</div>